.border-green-top {
  border-top: 11px solid #91be4b;
}

.border-yellow-top {
  border-top: 11px solid #beb34b;
}

.border-orange-top {
  border-top: 11px solid #cd743c;
}

.border-green-bottom {
  border-bottom: 11px solid #91be4b;
}


